@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Codystar&family=Jacques+Francois+Shadow&family=PT+Serif:ital,wght@1,700&family=Libre+Caslon+Display&family=Elsie+Swash+Caps&family=Dancing+Script:wght@700');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/****** HOME PAGE ******/
.home-bg-img {
    background-image: url('/img/home-img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    z-index: 1;
}
.home-text {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 27vh;
    text-align: center;
    /* border: thistle 1px solid; */
}
.home-text>h1 {
    font-size: 76px;
    padding-bottom: 20px;
    font-family: 'Jacques Francois Shadow', cursive;
}
.home-text>p {
    padding-bottom: 36px;
    font-family: 'PT Serif', serif;
    font-size: 17px;
}
.home-btn {
    padding: 7px 9px;
    background-color: rgba(212, 150, 212, 0.8);
    border-radius: 6px;
    font-family: 'Codystar', cursive;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
}
.home-btn:hover {
    background-color: rgba(102, 51, 153, 0.8);
    transform: translate(-2px, 3px);
}

/****** INDEX PAGE ******/
.jumbotron {
    background-image: url('/img/spa-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 45vh;
}
.header-text {
    text-align: center;
}
.header-text>h1 {
    text-shadow: 4px 3px rgba(231, 221, 230, 0.9);
    font-family: 'Dancing Script', cursive;
    font-size: 93px;
    letter-spacing: 1px;
    color: rgb(32, 31, 32);
}
.header-text>p {
    font-family: 'PT Serif', serif;
    text-shadow: 2px 1px rgb(231, 221, 230);
    color: rgb(22, 21, 22)
}
#header-btn {
    background-color: rgba(189, 94, 165, 0.9);
    font-family: 'Codystar', cursive;
    border: purple;
    font-weight: 550;
    letter-spacing: 1px;
}
#header-btn:hover {
    background-color: rgba(102, 51, 153, 0.9);
    transform: translate(-2px, 3px);
}
.card-deck {
    display: flex;
    flex-flow: row wrap;
}
.card {
    overflow: hidden;
    border: pink 1px solid;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card-img-top {
    overflow: hidden;
}
.card:hover {
    transform: scale(1.11);
}
.card-body {
    text-align: center;
    overflow: hidden;
    /* border: 1px thistle solid; */
}
.card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card-title:hover{
    overflow: visible;
    white-space: normal;
    height: auto;
}
.card-body .btn {
    font-family: 'Codystar', cursive;
    font-weight: 600;
    letter-spacing: 1px;
}
/****** SHOW PAGE ******/
.link>a {
    color: hotpink;
    font-size: 20px;
    text-decoration: underline;
}
.show-bg-img {
    border: 1px black solid;
    height: 100vh;
    background-image: url('/img/show-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.item-info {
    display: inline-block;
    margin: 18vh auto;
    outline: thistle 1px solid;
    background-color: rgba(236, 228, 106, 0.7);
    padding: 40px 50px;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%); /*https://bennettfeely.com/clippy/*/
    transition: all 0.4s
}
.item-info>h1 {
    font-family: 'Elsie Swash Caps', cursive;
    font-size: 54px;
    font-weight: 500;
}
.item-info>h3 {
    font-family: 'Libre Caslon Display', serif;
}
.item-info span {
    font-weight: 700;
    font-size: 20px;
}
.btn-options {
    margin: 0 auto;
    margin-top: -10vh;
    display: flex;
    justify-content: space-evenly;
    /* border: black solid 1px; */
    width: 50vh;
    font-family: 'Codystar', cursive;
    font-weight: 600;
}
.btn-options button, input {
    background-color: rgba(212, 150, 212, 0.8);
    /* color: white; */
    letter-spacing: 1px;
    padding: 5px 9px;
    border-radius: 3px;
    font-size: 20px;
}
.btn-options button:hover {
    background-color: rgba(236, 228, 106, 0.7);
    color: black;
    transition: all 0.3s;
}
.btn-options input:hover {
    background-color: rgb(205, 60, 50);
    outline: white 1px solid;
    transition: all 0.3s;
}
.btn-options>a>button {
    color: white;
}
.btn-options>form>input {
    color: white;
}
/***** EDIT PAGE *****/
.edit-bg-img {
    height: 100vh;
    background-image: url('/img/edit-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
}
.edit-bg-img>.link {
    z-index: 2;
}
.edit-info {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    z-index: 2;
}
.edit-info>h1 {
    /* border: hotpink 1px solid; */
    padding: 5px;
    font-size: 48px;
    font-family: 'Libre Caslon Display', serif;
}
.edit-info form {
    display: flex;
    flex-flow: column wrap;
}
.edit-info input {
    background-color: rgba(223, 199, 231, 0.8);
}
.edit-info .edit-btn {
    margin: 8px auto;
    font-family: 'Codystar', cursive;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
}
.edit-btn:hover {
    /* background-color: rgba(24, 153, 147, 0.8); */
    background-color: rgba(0, 128, 128, 0.8);
}
/******* NEW PAGE ********/
.new-bg-img {
    height: 103vh;
    background: url('/img/skincare-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
}
.new-bg-img>.link {
    z-index: 2;
}
.add-item {
    border: teal 2px solid;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    margin: 5vh 20vh;
    /* padding: 5vh auto; */
    z-index: 2;
}
.add-item>h1 {
    padding: 5px;
    padding-top: 10px;
    font-size: 48px;
    font-family: 'Libre Caslon Display', serif;
}
.add-item form {
    display: flex;
    flex-flow: column wrap;
}
.add-item input {
    background-color: rgba(230, 227, 191, 0.8);
}
.add-item .add-btn {
    margin: 8px auto;
    margin-bottom: 10px;
    font-family: 'Codystar', cursive;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
}
.add-item .add-btn:hover {
    background-color: rgba(0, 128, 128, 0.8);
}